# DEVELOPMENT
PORT=8080
DB_CONNECTION_STRING="you_mysql_connection_string"
DB_HOST=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""
JWT_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6Ik11bmNoaWVzISIsImlhdCI6MTUxNjIzOTAyMn0.1g17y3mqSsPL0EuL9bSKyCh7ak01tuB3T2l_xHOL8jE" # Known security issue

# # QA
# PORT=8181
# URL=""
# DB_CONNECTION_STRING=""
# DB_HOST=""
# DB_USER=""
# DB_PASSWORD=""
# DB_NAME=""
# JWT_SECRET=""

# # LIVE
# PORT=8282
# URL=""
# DB_CONNECTION_STRING=""
# DB_HOST=""
# DB_USER=""
# DB_PASSWORD=""
# DB_NAME=""
# JWT_SECRET=""